<header class="wooden-header">
  <div class="header-inner">

    <div class="header-left">
      <%= link_to root_path, class: "header-logo" do %>
        cocopos📮
      <% end %>
      <p class="header-subtitle">- 心の目安箱 -</p>
    </div>

    <nav class="header-nav">
      <a href="#" id="howToLink" class="nav-button">使い方</a>
      <%= link_to "みんなの投稿一覧", posts_path, class: "nav-button", data: { turbo: false } %>

      <% if user_signed_in? %>

        <%= link_to "マイページ", mypage_path, class: "nav-button" %>
        <%= button_to "ログアウト", destroy_user_session_path,
              method: :delete,
              data: { turbo_confirm: "ログアウトしますか？" },
              class: "logout-button" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "login-button" %>
        <%= link_to "新規登録", new_user_registration_path, class: "nav-button" %>
      <% end %>
    </nav>
  </div>
</header>