<div class="flex justify-end mb-6">
  <%= form_with url: posts_path, method: :get, local: true, class: "flex gap-2 items-center" do |f| %>
    <%= f.text_field :q, value: params[:q], placeholder: "æ¤œç´¢",
        class: "border rounded px-2 py-1 text-sm w-40" %>
    <%= f.hidden_field :filter, value: params[:filter] %>
    <%= f.hidden_field :sort, value: params[:sort] %>
    <%= f.submit "ðŸ”", class: "bg-blue-500 text-white px-2 py-1 rounded text-sm" %>
  <% end %>
</div>

