<div class="flex justify-end mb-6">
  <% search_path = local_assigns[:path] || ->(**args) { posts_path(**args) } %>
  <%= form_with url: search_path.call, method: :get, local: true, class: "flex gap-2 items-center" do |f| %>
    <%= f.text_field :q, value: params[:q], placeholder: "検索",
        class: "border rounded px-2 py-1 text-sm w-40" %>
    <%= f.hidden_field :filter, value: params[:filter] %>
    <%= f.hidden_field :sort, value: params[:sort] %>
    <%= f.hidden_field :sub_filter, value: params[:sub_filter] %>
    <%= f.submit "🔍", class: "bg-blue-500 text-white px-2 py-1 rounded text-sm" %>
  <% end %>
</div>
