<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cocopos - 心のポスト</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Tailwind ビルド済みCSS -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload", rel: "stylesheet" %>

  <!-- JavaScript -->
  <%= javascript_importmap_tags %>
</head>

<body class="flex flex-col min-h-screen">
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/modal' %> 
  <%= render 'shared/footer' %>
</body>
</html>
